.captainsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(to bottom, #1a1a1a, #2d2d2d);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.captainsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.captainCard {
  background: #2a2a2a;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 1rem;
  width: 180px;
  height: 220px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: space-between;
}

.realMadrid {
  background-image: url("/madrid.png?url");
}

.city {
  background-image: url("/city.png?url");
}

.captainCard:hover {
  border-color: #ff3333;
  transform: translateY(-5px);
}

.captainCard:hover .overlay {
  background-color: rgba(45, 45, 45, 0.5);
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.8);
  z-index: 1;
}

.captainCard h3 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.captainCard p {
  color: #cccccc;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.2rem 0;
  z-index: 1;
}

.captainCard button {
  background: #ff3333;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem; /* Adjusted padding for a smaller button */
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 1;
}

.captainCard h3,
.captainCard p,
.captainCard button {
  z-index: 1;
  position: relative;
}

.captainCard button:hover {
  background: #ff5555;
}

.selected {
  background-color: #d3f8d3; /* Light green to indicate selection */
  border-color: #4caf50;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Responsive Layout */
@media (min-width: 768px) {
  .captainsList {
    justify-content: center;
  }
}

/* Group title styling */
.playerGroup h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
}
.saveContainer {
  margin-top: 20px;
}

.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
