.header {
  width: 100px;
  height: 60vh;
  background-color: rgba(102, 7, 9, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.5);
  /* box-shadow: 0px 0px 1px 1px #ffffff9f; */
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  border-radius: 20px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 40px;
}

li {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 4px;
}

.icon {
  font-size: 1.8rem;
}
