* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #660709d1;
}

.container {
  margin: 40px;
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(BACKGROUND);
  gap: 40px;
}

.profileBox {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  display: flex;
}

.profilePicBox {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 40px 0 0 40px;
  backdrop-filter: blur(10px);
  border: 2px solid white;
  flex-flow: column;
  padding: 40px 20px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: rgba(51, 51, 51, 0.5);
}

.profileChoices {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 90%;
  height: fit-content;
  padding: 20px;
}

.profileAlt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: yellow;
}

.profileDetailsBox {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(250, 250, 250, 0.2);
  border-radius: 0 40px 40px 0;
  padding: 40px;
  gap: 20px;
  color: white;
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

label {
  font-size: 18px;
  font-weight: bold;
  width: 150px; /* Consistent label width for alignment */
  color: white;
  text-align: right; /* Align text to the right */
}

.inputWrapper {
  position: relative;
  flex-grow: 1; /* Ensure all input fields have equal width */
}

.inputField {
  font-size: 16px;
  color: white;
  padding: 8px 35px 8px 10px; /* Space for the pen icon */
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  width: 100%; /* Ensure consistent width */
}

.inputField:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.editIcon {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}

.editIcon:hover {
  color: #007bff;
}

.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
}

.saveButton:hover {
  background-color: #218838;
}

.saveButton:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
