/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87ceeb;
  height: 100vh;
} */

.game {
  position: relative;
  /* background-color: #add8e6; */
  overflow: hidden;
  border: 2px solid #000;
}

.bird {
  position: absolute;
  background-image: url("./vite.svg"); /* Placeholder for bird image */
  background-size: cover;
  border-radius: 50%;
  border: 2px solid black; /* For fallback visibility before image */
}

.pipe {
  position: absolute;
  background-color: green;
}

.score,
.high_score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #fff;
}

.high_score {
  top: 40px;
}

.game_over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ff0;
  border-radius: 5px;
}

button:hover {
  background-color: #ffc107;
}

.start_screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.start_screen button {
  background-color: #ffc107;
}
